
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">



    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/grid/">

    <!-- Bootstrap core CSS -->
    <link href="../../static/main/css/boot.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/main/css/grid.css" rel="stylesheet">


      <style>
   t1 {
    font-size: 170%;
   }


  </style>
  </head>

  <body>
    <div class="container">
  <hr>

  <h3>Хроника матчей века {{ info_article.title }}</h3>

         {% if info_article %}
        {% for i in info_article %}
             <strong> {{i.Year}} </strong>
      <p>{{i.Holidays}}</p>
      <div class="row">
        <div class="col-md-8">
          {{i.Year }}
          <div class="row">
            <div class="col-md-6">{{ i.Department1 }}</div>
            <div class="col-md-6">{{ i.Department2 }}</div>
          </div>
        </div>
        <div class="col-md-4"><t1>{{i.ScoreDepartment1}}:{{i.ScoreDepartment2}}</t1></div>
           <div class="col-md-4"><t1>{{i.text}}</t1></div>
      </div>

          <hr>
        {% endfor %}
    {% else %}
        <p>No articles are available.</p>
    {% endif %}




    </div> <!-- /container -->


  </body>

</html>