
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">



    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/grid/">

    <!-- Bootstrap core CSS -->
    <link href="../../static/main/css/boot.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/main/css/grid.css" rel="stylesheet">


      <style>
   t1 {
    font-size: 170%;
   }


  </style>
  </head>

  <body>
    <div class="container">
  <hr>

  <h3>Хроника матчей века {{ article.title }}</h3>
      <strong>2024 </strong>
      <p>Корпорация Роскосмос</p>
      <div class="row">
        <div class="col-md-8">
          2024
          <div class="row">
            <div class="col-md-6">{{ article.title }}</div>
            <div class="col-md-6">РОСКОСМОС</div>
          </div>
        </div>
        <div class="col-md-4"><t1>100:76</t1></div>
      </div>

          <hr>
        <strong>2023 </strong>
    <p>Корпорация Роскосмос</p>
      <div class="row">
        <div class="col-md-8">
          2023
          <div class="row">
            <div class="col-md-6">{{ article.title }}</div>
            <div class="col-md-6">РОСКОСМОС</div>
          </div>
        </div>
        <div class="col-md-4"><t1>100:76</t1></div>
      </div>
 <hr>
        <strong>2022 </strong>
    <p>Физтех-школа Ландау Физика Исследования</p>
      <div class="row">
        <div class="col-md-8">
          2022
          <div class="row">
            <div class="col-md-6">{{ article.title }}</div>
            <div class="col-md-6">ЛФИ</div>
          </div>
        </div>
        <div class="col-md-4"><t1>100:76</t1></div>
      </div>

    </div> <!-- /container -->


  </body>

</html>